{% extends "admin/base.html" %}
{% block extrastyle %}
<style>
    #header{ background-color: #104547; border-bottom: solid 3px #546A7B; color: #9EA3B0; }
    #branding h1 a:visited { color: #D2D6EF; }
    div.breadcrumbs {background: #4B5358;}
    .toggle-nav-sidebar caption {background: #4B5358; }
    .module h2, .module caption, .inline-group h2 { background: #4B5358; margin-top: 5px;}
    #nav-sidebar .current-model { background: #D2D6EF; }
    #nav-sidebar .current-app .section:link, #nav-sidebar .current-app .section:visited { color: #D2D6EF; }
    table { border: none; }
    .object-tools a { background: #727072;}
    .colMS { margin-right: 0px; }
    .dashboard #content { width: 50%; margin: auto; }
    
</style>
{% endblock %}